@keyframes reveal {
  from {
    filter: blur(80px);
  }
  to {
    filter: blur(0px);
  }
}

.loading .text,
.loading canvas {
  display: none;
}

canvas {
  /* 
    easeInQuart()
    https://easings.net/#
  */
  animation: 1.5s reveal cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
}

.text__content {
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 100%;
}

.text p {
  margin: 0;
  font-size: 6.5rem;
  letter-spacing: .8rem;
  line-height: 1;
}

.text p:first-child {
  animation: 1.5s fade-in both;
}

.text p:last-child {
  animation: 1.5s fade-in .5s both;
}

.text span {
  animation: blur-text 1s ease-out both;
}

.text span:nth-child(1) {
  animation-delay: 1000ms;
}

.text span:nth-child(2) {
  animation-delay: 1100ms;
}

.text span:nth-child(3) {
  animation-delay: 1200ms;
}

.text span:nth-child(4) {
  animation-delay: 1300ms;
}

.text span:nth-child(5) {
  animation-delay: 1400ms;
}

.text span:nth-child(6) {
  animation-delay: 1500ms;
}

.text span:nth-child(7) {
  animation-delay: 1600ms;
}

.text span:nth-child(8) {
  animation-delay: 1700ms;
}

.text span:nth-child(9) {
  animation-delay: 1800ms;
}

.text span:nth-child(10) {
  animation-delay: 1900ms;
}

.text span:nth-child(11) {
  animation-delay: 2000ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blur-text {
	0% {
    opacity: 0.5;
    filter: blur(20px);
  }
	100% {
    opacity: 1;
    filter: blur(0px);
  }
}
