@keyframes reveal {
  from {
    filter: blur(80px);
  }
  to {
    filter: blur(0px);
  }
}

.loading .text,
.loading canvas {
  display: none;
}

canvas {
  /* 
    easeInQuart()
    https://easings.net/#
  */
  animation: 7s reveal cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

.text p {
  margin: 0;
  font-size: 6.5rem;
  letter-spacing: .8rem;
  line-height: 1;
}

.text p:first-child {
  animation: 3s simple-fade-in both;
}

.text span {
  opacity: 0;
  animation: fade-in 1900ms both;
}

.text span:nth-child(1) {
  animation-delay: 3200ms;
}

.text span:nth-child(2) {
  animation-delay: 4250ms;
}

.text span:nth-child(3) {
  animation-delay: 5400ms;
}

.text span:nth-child(4) {
  animation-delay: 3400ms;
}

.text span:nth-child(5) {
  animation-delay: 3900ms;
}

.text span:nth-child(6) {
  animation-delay: 4200ms;
}

.text span:nth-child(7) {
  animation-delay: 5150ms;
}

.text span:nth-child(8) {
  animation-delay: 4000ms;
}

.text span:nth-child(9) {
  animation-delay: 3800ms;
}

.text span:nth-child(10) {
  animation-delay: 4100ms;
}

.text span:nth-child(11) {
  animation-delay: 4900ms;
}

@keyframes simple-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(20px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
